<h1>Listing outlets</h1>

<table>
  <tr>
    <th>Device</th>
    <th>Status</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @outlets.each do |outlet| %>
  <tr>
    <td><%= outlet.device %></td>
    <td><%= outlet.status %></td>
    <td><%= link_to 'Show', outlet %></td>
    <td><%= link_to 'Edit', edit_outlet_path(outlet) %></td>
    <td><%= link_to 'Destroy', outlet, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Outlet', new_outlet_path %>
